body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

h1, h2 {
    color: #bf0a30;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

p {
    font-size: 18px;
    padding: 10px;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-family: 'Courier New', monospace;
}

img {
    display: block;
    margin: 20px auto;
    border: 2px solid #ccc;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #fff;
}

th, td {
    border: 2px solid #555;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #e60026;
    color: white;
}
